*{
    background-color: lavender;
}
.box{
    width: 100px;
    height: 100px;
    padding: 30px;
    background-color: rgb(113, 171, 238);
    color: rgb(113, 171, 238);
    display: inline-block;
    margin: -2px;
}
.even{
    visibility: visible;
}
.odd{
    visibility: hidden;
}